body {
    cursor: url("../assets/cursor/yugicursor.png"), default /*O cursor do mouse*/
}

button, a, img:hover,
button:hover, a:hover {
    cursor: url("../assets/cursor/yamiyugicursorGLOW.png"), auto /*O cursor do mouse
    muda quando passar por um button, link, imagem*/
}

.bg-video {
    display: flex;
    justify-content: center;
    position: absolute; /*Se um componente já é absoluto, os outros serão relativos*/
    z-index: -2; /*Vai ficar no fundo*/
    width: 100vw;
    height: 100vh;
    overflow: hidden; /*Qualquer coisa que exceder ele será escondida*/
}

.bg-video .video {
    height: 100vh;
}
/* O "::after vai adicionar um elemento antes do setado */
.bg-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        90deg, 
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 50%,
        rgba(0, 0, 0, 1) 100%); /*Cada linha é um tom de preto e a 
        porcentagem de participação no degradê*/
}

.container {
    display: flex;
    position: relative;
    z-index: 2; /*Ficará na frente do vídeo*/
    height: 100vh
}

.container__left {
    width: 35%;
    min-width: 300px; /*Ele nunca vai ter largura menor que 300px */
    display: flex; /*Sem o display flex as 3 propriedades abaixo não pegam*/
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /*Para aplicar um espaçamento vertical entre eles*/
}

.score_box {
    background-color: #fff;
    padding: 30px;
}

.frame {
    border-radius: 5px;
    border: 3px solid #000;
}

.card_details {
    display: flex;
    background-color: #fff;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 6rem;
    width: 100%;
}

#card-name {
    font-size: 0.8rem;
}

#card-type {
    font-size: 1rem;
}

.container__right {
    width: 65%;
}

/* Container das cartas */
.card-box__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 0.3rem;
    /* margin-top: 5rem; */
}

.card-versus__container {
    display: flex;
    flex-direction: column;
    padding-top: 0.1rem;
    /* height: 300px; */
}

/* As classes das cartas e botão central  */
.versus-top, .versus-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.versus-bottom {
    margin-top: 1rem;
}

/* O botão inferior que dá o resultado do duelo */
#next-duel {
    display: none;
} 

/* As caixas que ficam no topo e em baixo */
.card-box {
    display: flex;
    height: 9rem;
    width: 100%;
    flex-direction: row; /*Para o conteúdo ficar em linha*/
    align-items: center;
    justify-content: space-around; /*Espaço ao redor*/
}

/* a caixa da carta */
.card-infield {
    height: 11.2rem;
    width: 8rem;
    border: 1px solid #fff;
    border-radius: 8px;
}

/* Para setar a transição do tipo transform, bem leve para suavizá-la */
.card {
    transition: transform 0.2s;
}

/* Para quando passar o mouse por cima das cartas */
.card:hover {
    transform: scale(1.2);
}